@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header {
  border: 0;
}

h1 {
  letter-spacing: 1px;
  margin: 40px 0px 5px 0px;
}

label {
  display: inline-block;
  margin: 10px 0px 0px 5px;
}

button {
  padding: 10px;
  margin-top: 10px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input[type='text'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.status-message {
  font-weight: bold;
}

.header-warning {
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color: red;
}